
.fundo { 
	background-color:rgba(255, 255, 255, 1);
	width:1580px;
	height:2386px;
	position:absolute;
	top: 0px;
	left: 0px;
}
.barra{ 
	background-color:rgb(215, 208, 208);
	width:1580px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.logo { 
	width:152px;
	height:137px;
	position:absolute;
	left:20px;
	top:-25px;
	background-image:url(images/lgog_2.png);
	background-repeat:no-repeat;
	background-size:cover
}
.categorias { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:24px;
	position:absolute;
	left:204px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.entrar { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:24px;
	position:absolute;
	left:1194px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.barra_pesquisa { 
	background-color:rgb(255, 255, 255);
	width:763px;
	height:54px;
	position:absolute;
	left:415px;
	top:23px;
}
.oque_aprender { 
	color:gray;
	width:309px;
	height:24px;
	position:absolute;
	left:435px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.lupa { 
	width:39px;
	height:38px;
	position:absolute;
	left:1119px;
	top:33px;
	background-image:url(images/icone_loupe_noir_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.borda_cadastrar { 
	background-color:rgba(36.00000165402889, 254.00000005960464, 193.00000369548798, 1);
	width:131px;
	height:54px;
	position:absolute;
	left:1400px;
	top:23px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.cadastrar { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:24px;
	position:absolute;
	left:1407px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: bold;
}
.sobre_a { 
	color:rgba(17.00000088661909, 16.858334988355637, 16.858334988355637, 1);
	width:459px;
	height:58px;
	position:absolute;
	left:490px;
	top:220px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	
}
.nossa_hist { 
	color:rgba(17.00000088661909, 16.858334988355637, 16.858334988355637, 1);
	width:387px;
	height:58px;
	position:absolute;
	left:48px;
	top:620px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.somos_ins { 
	color:rgba(17.00000088661909, 16.858334988355637, 16.858334988355637, 1);
	width:1118px;
	height:144px;
	position:absolute;
	left:167px;
	top:1300px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.venha_fazer { 
	color:rgba(17.00000088661909, 16.858334988355637, 16.858334988355637, 1);
	width:1118px;
	height:144px;
	position:absolute;
	left:167px;
	top:2173px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.missão { 
	color:rgba(17.00000088661909, 16.858334988355637, 16.858334988355637, 1);
	width:253px;
	height:80px;
	position:absolute;
	left:33px;
	top:1820px;
	font-family:Inter;
	letter-spacing:0;
	text-align:right;
	font-size:65px;
	letter-spacing:0;
}
.logo_2 { 
	width:533px;
	height:427px;
	position:absolute;
	left:459px;
	top:159px;
	background-image:url(images/lgog_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.hist { 
	color:rgba(54.18750151991844, 51.70390918850899, 51.70390918850899, 1);
	width:1376px;
	height:616px;
	position:absolute;
	left:49px;
	top:740px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.somos_ins2 { 
	color:rgba(54.18750151991844, 51.70390918850899, 51.70390918850899, 1);
	width:1376px;
	height:323px;
	position:absolute;
	left:49px;
	top:1450px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.missão2 { 
	color:rgba(54.18750151991844, 51.70390918850899, 51.70390918850899, 1);
	width:1376px;
	height:229px;
	position:absolute;
	left:49px;
	top:1920px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.barra_cat { 
	background-color:rgba(36.00000165402889, 254.00000005960464, 193.00000369548798, 1);
	width:1580px;
	height:63px;
	position:absolute;
	left:0px;
	top:136px;
}
.home { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:50px;
	position:absolute;
	left:414px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.contato { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:52px;
	position:absolute;
	left:671px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.sobre { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:52px;
	position:absolute;
	left:952px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
