.e21_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1580px;
	height:1450px; 
	position:absolute;
	top: 0px;
	left: 0px;
}
.e21_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1580px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_4 { 
	width:152px;
	height:137px;
	position:absolute;
	left:20px;
	top:-25px;
	background-image:url(images/lgog_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_5 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:24px;
	position:absolute;
	left:204px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e21_6 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:24px;
	position:absolute;
	left:1194px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.barra_pesquisa { 
	background-color:rgb(255, 255, 255);
	width:763px;
	height:54px;
	position:absolute;
	left:415px;
	top:23px;
}
.letra_pesquisa { 
	color:gray;
	width:309px;
	height:24px;
	position:absolute;
	left:435px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.icone_pesquisa { 
	width:39px;
	height:38px;
	position:absolute;
	left:1119px;
	top:33px;
	background-image:url(images/icone_loupe_noir_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.botao_cadastrar { 
	background-color:rgba(36.00000165402889, 254.00000005960464, 193.00000369548798, 1);
	width:131px;
	height:54px;
	position:absolute;
	left:1400px;
	top:23px;
	border-color: black;
	border-width: 2px;
	border-style: solid;

}
.cadastrar { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:24px;
	position:absolute;
	left:1407px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: bold;
}
.barra_menu { 
	background-color:rgba(36.00000165402889, 254.00000005960464, 193.00000369548798, 1);
	width:1580px;
	height:63px;
	position:absolute;
	left:0px;
	top:136px;
}
.home { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:50px;
	position:absolute;
	left:414px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.cursos { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:52px;
	position:absolute;
	left:671px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.sobre_nos { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:52px;
	position:absolute;
	left:952px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_9 { 
	color:rgba(0, 0, 0, 1);
	width:309px;
	height:24px;
	position:absolute;
	left:435px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e21_10 { 
	transform: rotate(90deg);
	width:54px;
	height:0px;
	position:absolute;
	left:1103px;
	top:23px;
}

.e21_11 { 
	width:39px;
	height:35px;
	position:absolute;
	left:1119px;
	top:33px;
	background-image:url(images/icone_loupe_noir_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e21_13 { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:24px;
	position:absolute;
	left:1407px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	font-weight: bold;
}
.e21_23 { 
	background-color:rgba(36.00000165402889, 254.00000005960464, 193.00000369548798, 1);
	width:1580px;
	height:63px;
	position:absolute;
	left:0px;
	top:136px;
}
.e21_24 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:50px;
	position:absolute;
	left:414px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_25 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:52px;
	position:absolute;
	left:671px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_26 { 
	color:rgba(0, 0, 0, 1);
	width:207px;
	height:52px;
	position:absolute;
	left:952px;
	top:143px;
	font-family:Calistoga;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:724px;
	height:70px;
	position:absolute;
	left:395px;
	top:451px;
}

.e21_36 { 
	background-color:rgba(255, 255, 255, 1);
	width:724px;
	height:70px;
	position:absolute;
	left:395px;
	top:542px;
}

.e21_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:724px;
	height:70px;
	position:absolute;
	left:395px;
	top:632px;
}

.e21_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:724px;
	height:70px;
	position:absolute;
	left:395px;
	top:716px;
}

.e21_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:724px;
	height:70px;
	position:absolute;
	left:395px;
	top:801px;
}

.cad { 
	color:rgb(0, 0, 0);
	width:1376px;
	height:203px;
	position:absolute;
	left:45px;
	top:300px;
	font-family:Inter;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
	font-size:30px;
}
.e21_30 { 
	color:rgba(54.18750151991844, 51.70390918850899, 51.70390918850899, 1);
	width:385px;
	height:396px;
	position:absolute;
	left:50px;
	top:475px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_40 { 
	background-color:rgba(36.00000165402889, 254.00000005960464, 193.00000369548798, 1);
	width:1195px;
	height:162px;
	position:absolute;
	left:210px;
	top:550px;
}

.e21_41 { 
	color:rgba(17.00000088661909, 16.858334988355637, 16.858334988355637, 1);
	width:421px;
	height:58px;
	position:absolute;
	left:620px;
	top:600px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e21_42 { 
	color:rgba(54.18750151991844, 51.70390918850899, 51.70390918850899, 1);
	width:1376px;
	height:149px;
	position:absolute;
	left:51px;
	top:1162px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
